@tailwind base;
@tailwind components;
@tailwind utilities;


.blacktext{
    color:#23222D!important;
}

.bg-gray-100{
    background: #DBE9EE!important;
}
.maintext{
    color:#18145F!important;
}
.bg-blue-50{
background: #0d0b32;

}
.bg-blue-50 p{
    color:#abaabd;
    font-size:14px;
}
.bg-blue-50 button{
    color:#c7c6d4;
}
.bg-blue-50 svg path{
    fill:#cb4238;
}

.yellowtxt{
    /* color:#F8C425!important; */
    color:#61E8E1!important;
}
.editorfullimg{
    max-width:950px!important;
    margin:auto;
}

.cus_IconsGrid{
    max-width: 750px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.cus_IconsGrid .item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    background-color: rgb(210, 225, 229);
    border-radius: 12px;
    border:1px solid #d6d6e0;
}
.cus_IconsGrid .item:hover{
    border-color: #2e2c5c;
}
.cus_IconsGrid h3{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
.cus_IconsGrid h5{
    font-size: 16px;
    color:#50505c;
}

.divcontainer{
    max-width: 1200px;
    margin:auto;
}
.divcontainersmall{
    max-width: 620px;
    margin:auto;
}

.cta_button{
    background:#2b25ab!important;
    color:white;
    margin-top: 25px;
    padding:13px 25px;
    border-radius: 5px;
}
.cta_button:hover{
    background:#221d82!important;
}


.logogrid{
    max-width: 900px;
    margin:auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 50px;
}
.logogrid .logoitem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logogrid .logoitem img{
    
    object-fit: cover;
}
h4{
    font-weight: bold!important;
    color:#26262e!important;
}
.buttoncontainer{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin:auto;
}
.buttoncontainer p{
    font-weight: 400;
}

.containerbgfull{
    background-color: #dfdff2;
    padding-bottom: 58px;
    margin-top: 65px;
}
.workparentsecond{
    background: white;
}

.content_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1100px;
    padding-top:40px;
    margin:auto;
}
.content_list div{
    
    border-radius: 12px;
    padding:25px;
    box-shadow: 0 5px 36px rgba(0,0,0,.06) !important;
}
.content_list h4{
    font-size: 18px;
    line-height: 23px;
    color:#232236!important;
}
.SecIconList h4{
    font-size: 18px;
    line-height: 23px;
    color:#232236!important;
}
.stepslist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    list-style: disc;
    padding-top: 35px;
   
  
}
.stepslist li{
    margin:6px;
    font-size: 18px!important;
    margin-left: 9px;
    margin-right: 9px;
}

.custom_divider{
    width:55px;
    height: 3px;
    background-color:#4F46E5;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.parentdivlast{
    background:#DBE9EE!important;
    margin-top:50px;
    padding-top:50px;
    padding-bottom:50px;
}

.SecIconList{
    padding-top: 34px;
    display: flex;
    max-width: 1160px;
    margin:auto;
  
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.SecIconList div{
    flex:23%;
    max-width: 23%;
    margin:11px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    text-align: center;
    flex-direction: column;
    background:white;
    padding:20px;
    border-radius: 12px;
    flex-wrap: wrap;
    
}

.SecIconList img{
    width:28px;
}

.faqssection{
    background:white;
}

.faqitem{
    background-color: #f9f9f9;
    border:1px solid #ebebec!important;
    border-radius: 0px;
    padding-left: 16px;
    padding-right: 16px;
}
.faqitem button span{
    font-size: 17px!important;
}
.faqitem .font-semibold{
    font-size: 17px!important;
}

.aboutbanner{
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    grid-gap: 45px;
    padding-top: 40px;
    max-width: 1040px!important;
    margin:auto;
}
.content-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-right: 11%;
}
.content-about h2{
    text-align: left!important;
}

.content-about .custom_divider{
    margin-right: auto!important;
    margin-left:0px!important;
}

.parentWhite{
    background:white;
}
.aboutbanner2{
    display: grid;
    grid-template-columns:1.9fr 3fr;
    grid-gap: 45px;
    padding-top: 40px;
    max-width: 1040px!important;
    margin:auto;
    padding-bottom: 50px;
}
.aboutbanner h2,.aboutbanner2 h2{
    padding-top: 0px;
}
.aboutbanner2 .content-about{
    padding-left:14%;
    padding-right: 0%;
}

.aboutbanner3 .content-about{
    padding-left: 0px;
    padding-right: 14%;
}
 .colortext{
    padding-top: 0px;
    color:#4F46E5;
    font-size: 16px;
}

.aboutbanner3{
    display: grid;
    grid-template-columns:3fr 1.9fr;
    grid-gap: 45px;
    padding-top: 40px;
    max-width: 1040px!important;
    margin:auto;
    padding-bottom: 50px;
}


.aboutLastsection{
    background: white!important;
}
.aboutbanner4{
    display: grid;
    grid-template-columns:3fr 3fr;
    grid-gap: 45px;
    padding-top: 40px;
    max-width: 1040px!important;
    margin:auto;
    padding-bottom: 50px;
}

.aboutbanner4 h2{
    padding-top: 0px;
}

footer,nav,.bannerbg{
    background-color: #161546!important;
}
nav{
    /* background-color: #0f0e35!important; */
}
.footerLogo{
    max-width: 160px;
    margin:auto;
    padding-bottom: 45px;
}
footer a{
    color:white!important;
}
.copyrighttext{
    color:#ffffffbe!important;
    font-size: 15px;
}

nav button{
    background:transparent!important;
    font-size: 15px!important;
}
nav button:hover{
    color:#817ceb!important;
}
.bannerbg{
    padding-top: 0px!important;
}
.privacypolicycontent{
    padding-top: 60px;
    padding-bottom: 60px;
}
.privacypolicycontent p,.privacypolicycontent span{
    font-size: 18px;
    color:#222!important;
}

.privacypolicycontent li{
    font-size: 18px!important;
    color:#222!important;
}
.privacypolicycontent h2{
    font-size: 25px!important;
    font-weight: bold!important;
    padding-top: 25px!important;
}
.largeFont{
    font-weight: bold!important;
    font-size: 25px!important;
    color:#111!important;
}
/* CSS for making responsive */

@media(max-width:768px){
    .SecIconList div{
        min-width: 93%;
        flex:1;
    }
   
    .content_list{
        grid-template-columns: 1fr;
        margin-left: 13px;
        margin-right: 13px;
        
    }
    .workparentfirst{
        margin-left: 13px;
        margin-right: 13px;
    }
    .divcontainer,.divcontainersmall{
        margin-left: 13px;
        margin-right: 13px;
        padding-top: 40px;
    }
    .buttoncontainer{
        margin-left: 13px;
        margin-right: 13px;
    }
    h2{
        font-size: 35px!important;
    }
    .logogrid{
        grid-template-columns: 1fr 1fr;
    }
    footer nav{
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
    }
    .aboutbanner,.aboutbanner2,.aboutbanner3{
        grid-template-columns: 1fr;
        margin-left: 17px;
        margin-right: 17px;
    }
     .content-about{
        padding:0%!important;
     }
     .colortext{
        font-size: 16px!important;
     }
     h2{
        font-size: 30px!important;
     }
     .cus_IconsGrid{
        grid-template-columns: 1fr;
     }
}


.disclaimertext{
   
    font-style: italic!important;
    font-size: 14px;
    color:#ffffffa5!important;
}


@media(min-width:900px){
    .disclaimertext{
        padding-left: 26%!important;
        padding-right: 26%!important;
        font-style: italic!important;
        font-size: 14px;
        color:#ffffffa5!important;
    }
}